
$primaryAccentColor: #e6fdcd; // Testfarbe; darf gerne geändert werden
$secondaryAccentColor: #b8e6ae; // Testfarbe; darf gerne geändert werden
$tertiaryAccentColor: #dee6ae; // Testfarbe; darf gerne geändert werden
$quaternaryAccentColor: #c1feca; // Testfarbe; darf gerne geändert werden
$quinaryAccentColor: #fefac1; // Testfarbe; darf gerne geändert werden

// For color harmonies see: https://color.adobe.com/


$primaryTextColor: #373737; // Testfarbe; darf gerne geändert werden
$inverseTextColor: #c8c8c8; // Testfarbe; darf gerne geändert werden


// Scrollbar variables
$scrollbarBackgroundColor: #CFD8DC;
$scrollbarColor: #90A4AE;
$scrollbarWidth: 12px;